div.dev-callout {
    float: right;
    background-color: #eee;
    display: block;
    width: 259px;
    padding: 12px;
    font-size: 83%;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignright {
    float: right;
}
img.alignright {
    margin: 7px 0 7px 24px;
}

/* Home Page Header */
section#banner p {
  text-shadow: 2px 2px #CCC;
  font-size: 250%;
  line-height: 1.5;
  color: #555;
}
section#one .box {
  min-height: 445px;
}
section#one .box a {
  text-decoration: none;
}

/* WHITEPAPER STYLES */
body.whitepaper div.authors {
  font-weight: bold;
  text-align: center;
}
body.whitepaper div.abstract {
  margin: 3em 12em;
  text-align: left;
}
body.whitepaper h1 {
  font-size: 150%;
  font-weight: bold;
  color: 111;
}

/* Blog Styles */
.blog-video {
  float:left;
  margin-right:20px;
}
.blog-pic-right {
  float:right;
  margin-left:20px;
  margin-bottom:20px;
}
.blog-list .wrapper section.container {
  overflow:hidden;
}
section.post-content {
  overflow:hidden;
}
