---
layout: default
permalink: /categories/
title: Categories
---

<section id="banner">
    <div class="inner">
        <h2>Categories</h2>
    </div>
</section>
<section id="main" class="wrapper style1">
{% for category in site.categories %}
  <div class="wrapper">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>

    <header class="major"><h2>{{ category_name }}</h2></header>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <section class="container">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </section>
    {% endfor %}
  </div>
{% endfor %}
</section>
