---
layout: page
navigation_weight: 3
status: publish
published: true
title: White Papers
permalink: /whitepapers/
date: '2017-01-22 21:18:10 -0500'
date_gmt: '2017-01-22 21:18:10 -0500'
categories: []
tags: []
comments: []
---
{% assign projects = site.whitepapers | group_by:"project" %}
{% for p in projects %}
  {% assign proj = site.projects | where:"slug",p.name | first %}
  <h2>
    <i class="fa fa-1x {{proj.icon}} text-primary"></i>
    <a href="{{proj.url}}">{{proj.nav_title}}</a>
  </h2>
  <ul class="whitepapers">
    {% assign whitepapers = p.items |sort : 'navigation_weight' %}
    {% for h in whitepapers %}
      <li>
        <a href="{{h.url}}">{{h.title}}</a>{% if h.sub-title%}--{{h.sub-title}}{% endif %}
        ({% if page.status != 'Published' %}Status:{{h.status}}{% else %}Published: {{page.date | date: "%B %Y" }}{% endif %})
      </li>
    {% endfor %}
  </ul>
{% endfor %}
