<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Ceptr: A Platform for Mashable, Fully Distributed Applications</h2>
        <p>Semantic. Interoperable. Cryptographic. <br / >
          Concurrent. Responsive.<br />
          Networks brought to life as living ecoystems.</p>
        <ul><li><a href="/whitepapers/holochain" class="button big special">White Paper</a></li>
            <li><a href="https://github.com/metacurrency" class="button big alt">GitHub Repo</a></li>
        </ul>
    </div>
</section>
