<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Ceptr: Building a Semantic, Mashable, Fully Distributed Internet</h2>
        <p> Ceptr provides a platform for developing distributed applications which are fully interoperable. <br />
          Ceptr uses patterns similar to how the cells in your body coordinate and interoperate on massive scale <br />
          and in a fully distributed manner.<ul style="text-align:left; list-style: disc; padding-left: 3em;">
          <li>Distributed Process wrapped around Holographic Storage (non-local / entangled -- decentralized akin to blockchain)</li>
          <li>Fractal layers of coherence with an ability to implant listeners for relational states (networked like a nervous system)</li>
          <li>Fundamental Interoperability (through low-level semantics and self-describing protocols)</li></ul></p>
        <ul class="actions">
            <li><a href="#content" class="button big special">White Paper</a></li>
            <li><a href="#elements" class="button big alt">GitHub Repo</a></li>
        </ul>
    </div>
</section>
