<!-- Footer -->
<footer id="footer">
  <div class="container">
      <ul class="icons aligncenter">
        <li><a href="https://twitter.com/holochain" class="fa fa-2x fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/metacurrency" class="fa fa-2x fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.youtube.com/channel/UCZtYPbxd78Mz-YA_c99R3Tg" class="fa fa-2x fa-youtube"><span class="label">YouTube</span></a></li>
        <li><a href="https://www.youtube.com/channel/UCZtYPbxd78Mz-YA_c99R3Tg" class="fa fa-2x fa-medium"><span class="label">Medium</span></a></li>
      </ul><br />
    <ul class="copyright">
      <li><a href="{{site.contact_url}}">Contact</a></li>
      <li><a href="http://metacurrency.org/team/">Team</a></li>
      <li><a href="http://github.com/metacurrency/ceptr-web" title="Code Repository for this Web Site">Site Repo</a></li>
    </ul><br /><br /><br />
    <div class="row">
      <div class="col-lg-4 col-md-4 pull-left">
        <p>Ceptr is brought to you by <br /> the <a href="http://metacurrency.org">MetaCurrency Project</a>
        </p>
      </div>
      <div class="col-lg-4 col-md-4 pull-right" style="text-align:right; font-size:16px;">
        Some rights reserved. <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
      </div>
    </div>
  </div>
</footer>
