<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="aligncenter" >Ceptr is brought to you by the <a href="http://metacurrency.org">MetaCurrency Project</a>
        </p>
      </div>
      <div class="col-log-12">
        <ul class="icons aligncenter">
          <li><a href="https://twitter.com/holochain" class="fa fa-2x fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://www.facebook.com/metacurrency" class="fa fa-2x fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="https://www.youtube.com/channel/UCZtYPbxd78Mz-YA_c99R3Tg" class="fa fa-2x fa-youtube"><span class="label">YouTube</span></a></li>
          <li><a href="https://www.youtube.com/channel/UCZtYPbxd78Mz-YA_c99R3Tg" class="fa fa-2x fa-medium"><span class="label">Medium</span></a></li>
        </ul>
      </div>
    </div>
    <ul class="copyright">
      <li>&copy; 2017. All rights reserved.</li>
      <li><a href="{{site.contact_url}}">Contact</a></li>
      <li><a href="http://metacurrency.org/team/">Team</a></li>
    </ul>
  </div>
</footer>
