<!-- One -->
			<section id="one" class="wrapper style1">
				<header class="major">
					<h2>Ceptr's Key Sub-Projects</h2>
					<p>It will be easier to understand Ceptr after digging into some of the key technologies it runs on:</p>
				</header>
				<div class="container">
					<div class="row">
						<div class="4u">
							<section class="special box">
								<i class="icon fa-area-chart major"></i>
								<h3>Protocol for Pluggable Protocols</h3>
								<p>Complete interoperability: No more silos and brittle APIs. Self-Describing protocols and a universal parsing system allows anything to talk to anything.</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa-refresh major"></i>
								<h3>Holochains for Distributed Storage</h3>
								<p>Going beyond Blockchain and global consensus ledgers provides practical and scalable architecture which ensures data integrity and distribued sharing.</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa-cog major"></i>
								<h3>Truly Distributed Apps</h3>
								<p>Take cloud computing to a whole new level by enabling truly distributed applications and hosting: on laptops, phones, routers, devices, and servers.</p>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="4u">
							<section class="special box">
								<i class="icon fa-area-chart major"></i>
								<h3>Sovereign Accountable Commons</h3>
								<p>Organizations incorporated in distributed app code instead of legal codes enabling new patterns of self-governance and mutual sovereignty.</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa-refresh major"></i>
								<h3>Neural Internetworking</h3>
								<p>By supporting sticky requests which send data whenever conditions are matched, we enable neural-like behavior across all applications.</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa-cog major"></i>
								<h3>Ceptr Core</h3>
								<p>The fabric which binds all these capacities into an integrated framework, plus: Virtual Machine Host, Fractal Receptors, Parallel Tree Processing, and more.</p>
							</section>
						</div>
					</div>
				</div>
			</section>

<!-- Two -->
			<section id="two" class="wrapper style2">
				<header class="major">
					<h2>Some Videos to Go Deeper</h2>
					<p>Learn about how Ceptr's technology works</p>
				</header>
				<div class="container">
					<div class="row">
						<div class="6u">
							<section class="special">
								<a href="/2015/09/24/mitkit-ceptr-webinar.html" class="image fit"><img src="images/Ceptr_MIT_KIT_Video.png" alt="" /></a>
								<h3>MIT/KIT Webinar</h3>
								<p>An early description, but still good for getting a handle on the parts of Ceptr.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="6u">
							<section class="special">
								<a href="/2016/05/04/ceptr-under-the-hood.html" class="image fit"><img src="images/Ceptr_Under_the_Hood.png" alt="" /></a>
								<h3>Ceptr Under the Hood</h3>
								<p>If you really want to get it all, this almost three hour video will walk you through the whole Ceptr Architecture.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style1">
				<div class="container">
					<div class="row">
						<div class="8u">
							<section>
								<h2>Mollis ut adipiscing</h2>
								<a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
								<p>Vis accumsan feugiat adipiscing nisl amet adipiscing accumsan blandit accumsan sapien blandit ac amet faucibus aliquet placerat commodo. Interdum ante aliquet commodo accumsan vis phasellus adipiscing. Ornare a in lacinia. Vestibulum accumsan ac metus massa tempor. Accumsan in lacinia ornare massa amet. Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan commodo odio cubilia ac eu interdum placerat placerat arcu commodo lobortis adipiscing semper ornare pellentesque.</p>
							</section>
						</div>
						<div class="4u">
							<section>
								<h3>Magna massa blandit</h3>
								<p>Feugiat amet accumsan ante aliquet feugiat accumsan. Ante blandit accumsan eu amet tortor non lorem felis semper. Interdum adipiscing orci feugiat penatibus adipiscing col cubilia lorem ipsum dolor sit amet feugiat consequat.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>
							<hr />
							<section>
								<h3>Ante sed commodo</h3>
								<ul class="alt">
									<li><a href="#">Erat blandit risus vis adipiscing</a></li>
									<li><a href="#">Tempus ultricies faucibus amet</a></li>
									<li><a href="#">Arcu commodo non adipiscing quis</a></li>
									<li><a href="#">Accumsan vis lacinia semper</a></li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</section>
