nav .container-fluid {
  background: rgba(76, 76, 76, .3);
}

.hidden {
  display: none;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  text-align: center;
}

/* standard page header */
section.std-page {
  color: #fff;
  background-image: url(/images/road_to_light.jpg);
  background-position: center;
}

/* Make redirects pretty */
body#redirect {
  text-align: center;
  display: block;
  margin: 5em;
  font-family: sans-serif;
  font-size: xx-large;
  color: #666;
}

/* HOME PAGE */

/* Home Page Header */
header .header-content .header-content-inner p.header-text {
  /* text-shadow: 2px 2px #CCC; */
  font-size: 250%;
  line-height: 1.5;
  color: #555;
  font-weight: bold;
  background: rgba(220, 220, 220, .3);
  color: #222;
  padding: .5em 0;
  border-radius: 22px;
}

/* About section */
#about .net-image {
  border-radius: 8px;
  background-image: url(/images/neural_net.jpg);
  background-position: center;
  width: 100%;
  height: 120px;
  margin:15px 0;
  opacity: .5;
}
#about p, #about li{
      font-size: 130%;
      line-height: 1.4;
      margin: 10px 10px 20px;
}
#about ul{
    margin: 0 0 1em 0;
    padding: 0 0 0 1em; /* make space for li's :before */
    list-style: none;
}
#about li {
    position: relative;
    padding-left: 0.4em; /* text distance to icon */
    margin-bottom: 17px;
    margin-left: 40px;
    font-size: 140%;
    line-height: normal;
}

#about li:before {
  font-family: FontAwesome;
  position: absolute;
  left: -1em; /* same as ul padding-left */
  /*  .... more styling, maybe set width etc ... */
  content: "\f00c";
}

/* if you want to have different bullets per li use this
#about li.class-name-goes-here:before {
  /*top: 0.1em; /* depends on character, maybe use padding-top instead
} */

/* SUB-PROJECTS SECTION */
section#projects a:hover {
  text-decoration: none;
  color: #92AD17;
}
/* PROJECTS PAGES */
#header.project-page {
  color: #fff;
  background-image: url(/images/road_to_light.jpg);
  background-position: center;
}
section.project-page .project-links {
  z-index: 1;
  margin-bottom: 15px;
}
section.project-page .project-icon {
  float: left;
  color: #537122;
  padding: 0 20px;
}
section#main.project-page .page-summary h1 {
    color: #537122;
    line-height: 1.5;
}
section#main.project-page .purpose {
  clear: left;
  font-style: italic;
  display: block;
  background-color: #EEE;
  padding: 20px;
  font-size: 140%;
  margin-bottom: 1.5em;
}
section.project-page .project-links i {
  float: left;
}
section.project-page .project-links .btn {
  text-align: left;
  line-height: 3em;
  border-radius: 0;
  width: 300px;
}
section.project-page .project-links .fa-caret-down:before {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: .5em;
}
section.project-page .project-links .dropdown-menu>li>a {
  line-height: 2.5em;
  font-size: 130%;
}

/* WHITEPAPER STYLES */
.whitepaper div.authors {
  font-weight: bold;
  text-align: center;
}
.whitepaper div.abstract {
  margin: 3em 12em;
  text-align: left;
}

/* BLOG POSTS & POST META TAGS */
section.blog div.dev-callout {
  float: right;
  background-color: #eee;
  display: block;
  width: 259px;
  padding: 12px;
  margin: 5px;
  font-size: 83%;
}
section.blog h2.section-heading {
  padding: 1.5em 0 .25em;
  color: #537122;
  display: block;
  width: 100%;
}
section.blog post-meta.tags {
  display: block;
  margin-bottom: 1.5em;
  width: 100%;
}
section.blog a.tag  {
  background: #537122;
  color: white;
  border-radius: 3px;
  font-size: 100%;
  padding: 0 6px 0 6px;
}

section.blog post-meta.author,
section.blog post-meta.post-date,
section.blog post-meta.read-time {
  font-size: 130%;
}

section.blog post-meta.post-date,
section.blog post-meta.read-time {
  color: #444;
}


section.blog p.read-more {
  border-bottom: 2px solid #537122;
  padding-bottom: 1.5em;
}
div#disqus_thread {
  margin-top: 5em;
}


/* Image */

.image {
  border-radius: 6px;
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  border-radius: 6px;
  display: block;
}

.image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  display: block;
  width: 100%;
}

/* Icon list */

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1.25em 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li .icon:before {
  font-size: 1.5em;
}

/* Alt list */
ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px rgba(144, 144, 144, 0.25);
  padding: 0.5em 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

/* Footer */
#footer {
  background: #f8f8f8;
  padding: 4em 0 6em 0;
  color: #888;
}

#footer a {
  color: inherit;
}

#footer .copyright {
  color: #888;
  font-size: 0.9em;
  margin: 2em 0 0 0;
  padding: 0;
  text-align: center;
}

#footer .copyright li {
  border-left: solid 1px rgba(144, 144, 144, 0.25);
  display: inline-block;
  list-style: none;
  margin-left: 1.5em;
  padding-left: 1.5em;
}

#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#footer .icons a {
  color: #bbb;
}

.label {
  color: #bbb;
}
