---
layout: default
comments: true
---
<section id="header" class="std-page">
  <div class="text-center">
    <h1>Ceptr Blog</h1>
  </div>
</section>
<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <post-meta class="tags">
            {% for tag in page.tags %}
              <span class="tag">{{tag}}</span>
            {% endfor %}
          </post-meta>
	      <h2 class="section-heading">{{page.title}}</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
	<div class="row">
	  <div class="col-md-6">
	    <p class="pull-left">
<!--	      <post-meta class="tags">
          {% for tag in page.tags %}
            <span class="tag">{{tag}}</span>
          {% endfor %}
        </post-meta>
              <br> -->
	      <post-meta class="read-time">
	      {% assign words = content | number_of_words %}
	      {% if words < 360 %}
			    1 min
			    {% else %}
			    {{ words | divided_by: 180 }} mins
			    {% endif %}
			    read
			    </p>
        </post-meta>
	  </div>
	  <div class="col-md-6">
	    <p class="pull-right">
          <post-meta class="post-date">
	           {{ page.date | date: "%d %B %Y" }}
          </post-meta>
	    </p>
	  </div>
	</div>
	{{ content }}
	{% include disqus.html %}
      </div>
    </div>
  </div>
</section>
