---
layout: default
---
<div class="wrapper style1">
    <article class="container">
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
            <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • <a href="{{page.author_url}}">{{ page.author }}</a>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            {% if 1 %}
            <div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  Categories:
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
            </div>
            {% endif %}
        </header>

        <section class="post-content">
            {{ content }}
        </section>

        <footer>
            {% if page.previous %}
            <a href="{{ page.previous.url }}" class="float-left">&larr; Previous post</a> {% endif %}
            {% if page.next %}
            <a href="{{ page.next.url }}" class="float-right">Next post &rarr;</a> {% endif %}
        </footer>

    </article>

</div>
