---
layout: default
---
<section id="header" class="project-page">
  <div class="text-center">
    <h1>Project Profiles</h1>
  </div>
</section>
<section id="main" class="project-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 page-summary pull-left">
        <h1><i class="fa fa-3x {{page.icon}} project-icon"></i>{{page.title}}</h1>
        <div class="purpose"><b>Purpose: </b>{{page.purpose}}</div>
      </div>
      <div class="col-lg-4 col-md-4 pull-right project-links">
        {% assign wp = site.whitepapers | where:"project",page.slug %}
        {% if wp[0] %}
          {% if wp[1] %}
            {% assign wp = wp | sort: 'navigation_weight' %}
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-3x fa-file-text-o"></i>&nbsp;White Papers<span class="fa fa-2x fa-caret-down"></span>
              </button>
              <ul class="dropdown-menu">
                {% for w in wp %}
                  <li><a href="{{w.url}}">{% if w.nav_title %}{{w.nav_title}}{% else %}{{w.title}}{% endif %}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% else %}
            <a href="{{wp[0].url}}" class="btn btn-default btn-lg"><i class="fa fa-3x fa-file-text-o"></i>&nbsp;White Paper</a>
          {% endif %}
        {% endif %}
        {% if page.repos %}
          {% if page.repos[1] %}
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-3x fa-github"></i>&nbsp;Code Repositories<span class="fa fa-2x fa-caret-down"></span>
              </button>
              <ul class="dropdown-menu">
                {% for repo in page.repos %}
                  <li><a href="{{ repo[1] }}" target="_blank">{{ repo[0] }}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% else %}
            {% assign repo = page.repos | first %}
            <a href="{{repo[1]}}" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-3x fa-github"></i>&nbsp;Code Repository</a>
          {% endif %}
        {% endif %}

        {% if page.dev_docs %}
          <a href="{{page.dev_docs}}" class="btn btn-default btn-lg"><i class="fa fa-3x fa-book"></i>&nbsp;Tech Documentation</a>
        {% endif %}


        {% if page.articles %}<div class="btn-group">
          <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-3x fa-newspaper-o"></i>&nbsp;Articles<span class="fa fa-2x fa-caret-down"></span>
          </button>
          <ul class="dropdown-menu">
            {% for a in page.articles %}
              <li><a href="{{ a[1] }}" target="_blank">{{ a[0] }}</a></li>
            {% endfor %}
          </ul></div>
        {% endif %}
      </div>
      <div class="scroller-anchor"></div>
      <div id="toc-hook" class="scroller" >
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-8">
        {{ content }}
      </div>
    </div>
  </div>
</section>
