<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url={{content}}">
  </head>
  <body style="text-align: center; vertical-align: text-top; margin: 5em; font-family: sans-serif; font-size: xx-large; color: #666; background-repeat: no-repeat; background-attachment: fixed; background-position: center;" background="{{page.image}}">
    <div style="background-color:#ffffff; padding:20px 47px;display: inline-block"> 
    {{page.title}} coming right up!
    </div>
  </body>
</html>
