---
layout: default
---
<section class="whitepaper {% unless page.status == 'Published' %}draft{% endunless %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{page.title}}</h2>
        {% if page.sub-title %}<p class="text-center">{{page.sub-title}}</p>{% endif %}
        <ul class="authors">
          {% for a in page.authors %}
            <li><a href="{{ a[1] }}">{{ a[0] }} | {{ a[1]}}</a></li>
          {% endfor %}
        </ul>
        {% if page.status != 'Published' %}
          <div class="status">
            <strong>Status:</strong> {{page.status}}
            {% if page.googledoc %}
              <p>If you would like to comment on this draft, feel free to do so on the <a href="{{page.googledoc}}"> google doc version</a></p>
            {% endif %}
          </div>
        {% else %}
          <div class="whitepaper-date"><strong>Published:</strong>
            {{page.date | date: "%B %Y" }}
          </div>
        {% endif %}
        {% if page.excerpt != "" %}
          <div class="abstract"><b>ABSTRACT: </b>{{page.excerpt}}</div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container">
    <section>
      {{ content }}
    </section>
  </div>
</section>
